<div class="error"><%= flash[:error] %></div>

<div class="container">
  <div class="col-md-10 col-md-offset-1">

    <div class="d-flex aligin-items-center">
      <h2 class="p-3 md-10 bg-secondary text-white">新規会員登録画面</h2>
    </div>
    <%= form_with model: @customer, url: customers_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
    <%= render "customers/shared/error_messages", resource: resource %>

    <table class="table table-borderless">
           <tr>
             <th>名前</th>
             <td><%= f.label :first_name, "(姓)" %><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "佐藤" %></td>
             <td><%= f.label :last_name, "(名)" %><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "太郎" %></td>
           </tr>

           <tr>
             <th>フリガナ</th>
             <td><%= f.label :first_name_kana, "(セイ)" %><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "サトウ" %></td>
             <td><%= f.label :last_name_kana, "(メイ)" %><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "タロウ" %></td>
           </tr>

           <tr>
             <th><%= f.label :email, "メールアドレス", style:"font-weight:bold" %></th>
             <td><%= f.text_field :email, autofocus: true, autocomplete: "email", placeholder: "111@gmail.com" %></td>
           </tr>

           <tr>
             <th><%= f.label :postal_code, "郵便番号(ハイフン無し)", style:"font-weight:bold" %></th>
             <td><%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code", placeholder: "1234567" %></td>
           </tr>

           <tr>
             <th><%= f.label :address, "住所", style:"font-weight:bold" %></th>
             <td><%= f.text_field :address, autofocus: true, autocomplete: "address", placeholder: "東京都渋谷区SATOUマンション101" %></td>
           </tr>

           <tr>
             <th><%= f.label :telephone_number, "電話番号(ハイフン無し)", style:"font-weight:bold" %></th>
             <td><%= f.text_field :telephone_number, autofocus: true, autocomplete: "telephone_number", placeholder: "08000000000" %></td>
           </tr>

           <tr>
             <th><%= f.label :password, "パスワード(6文字以上)", style:"font-weight:bold" %></th>
             <td><%= f.password_field :password, autocomplete: "new-password" %></td>
           </tr>

           <tr>
             <th><%= f.label :password_confirmation, "パスワード(確認用)", style:"font-weight:bold" %></th>
             <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
           </tr>

           <tr>
             <th></th>
             <td><%= f.submit "新規登録",class: "btn btn-outline-primary" %></td>
           </tr>
         </table>

  </div>
  </div>

<% end %>


