<div class="container">
  <div class="col-md-10 col-md-offset-1">
    <div class="d-flex aligin-items-center">
      <h2 class="p-3 md-10 bg-secondary text-white">管理者ログイン</h2>
    </div>


<%= form_with model: @admin,url:admin_session_path,local:true do |f| %>
  <table class="table table-borderless">
    <tr>
      <th><%= f.label :email, "メールアドレス" %></th>
      <th><%= f.email_field :email, autofocus: true, autocomplete: "email" %></th>
    </tr>
    <tr>
      <th><%= f.label :password, "パスワード" %></th>
      <th><%= f.password_field :password, autocomplete: "current-password" %></th>
    </tr>

    <tr>
      <th></th>
      <th> <%= f.submit "ログイン",class: "btn btn-outline-success"%></th>
    </tr>

  </table>

  </div>
  </div>
<% end %>


