<div class="container">
  <div class="row">
    <div class="d-flex aligin-items-center">
      <h3 class="p-3 md-10 bg-secondary text-white">注文情報確認</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>注文情報</p>
      <table class="table table-bordered">
       <tbody calss="thead-light">
         <tr>
           <th>注文日</th>
           <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
         </tr>
         <tr>
           <th>配送先</th>
           <td>〒<%= @order.postal_code %><br><%= @order.address %><br><%= @order.name %></td>
         </tr>

         <tr>
           <th>支払方法</th>
           <td><%= @order.payment_method_i18n %></td>
         </tr>
       </tbody>
      </table>

    </div>
    <div class="col-sm-3">
      <p>請求情報</p>
      <table class="table table-bordered">
        <tbody class="thead-light">
        <tr>
          <th>商品合計</th>
          <td>¥<%= @order.total_payment.to_s(:delimited) %></td>
        </tr>
        <tr>
          <th>配送料</th>
          <td>¥<%= @order.shipping_cost.to_s(:delimited) %></td>
        </tr>
         <tr>
          <th>ご請求額</th>
          <td>¥<%= (@order.total_payment + 800).to_s(:delimited) %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div calss="col-sm-6">
      <p>注文内容</p>
      <table class="table table-bordered">
        <thead class="thead-light">
          <tr>
            <th>商品</th>
            <th>税込単価</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
          <td><%= order_detail.item.name %></td>
          <td>¥<%= (order_detail.tax_price / order_detail.amount).to_s(:delimited) %></td>
          <td><%= order_detail.amount %></td>
          <td>¥<%= order_detail.tax_price.to_s(:delimited) %></td>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
