<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <header class="shadow-sm">
     <nav class="navbar navbar-expand-lg navbar-light">
       <div class="container">
          <a class="navbar-brand p-3" href="/"><%= image_tag('logo.png') %></a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">

            <% if customer_signed_in? %>
            <li>ようこそ、<%= current_customer.last_name %>さん！</li>

              <li class = "nav-item">
                <%= link_to "マイページ", customers_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "商品一覧", items_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "カート", cart_items_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "ログアウト", customers_sign_out_path, class: 'btn btn-light ml-3',method: :delete %>
              </li>

           <% elsif admin_signed_in? %>
              <li class = "nav-item">
                <%= link_to "商品一覧", admin_items_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "注文履歴一覧", admin_root_path, class: 'btn btn-light ml-3' %>
              </li>

             <li class = "nav-item">
               <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class = "nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, class: 'btn btn-light ml-3' ,method: :delete %>
              </li>

            <% else %>

              <li class="nav-item">
               <%= link_to "About", about_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class="nav-item">
                <%= link_to "商品一覧", items_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class="nav-item">
               <%= link_to "新規登録", customers_sign_up_path, class: 'btn btn-light ml-3' %>
              </li>

              <li class="nav-item">
               <%= link_to "ログイン", customers_sign_in_path, class: 'btn btn-light ml-3' %>
             </li>
            <% end %>
          </ul>
        </div>
       </div>
    </nav>
  </header>

    <main>
         <h5 class="notice"><%= notice %></p>
         <h5 class="alert"><%= alert %></p>
         <%= yield %>
      </div>



    </main>
    <footer>
      <div class="border-bottom border-dark ml-auto"></div>
    </footer>
  </body>
</html>
